.loginTable {
	background-color:#ffffff;
	margin-bottom: 25px;
	width: 650px;
}

.loginTable input[type="text"],
.loginTable input[type="password"] {
	width:240px;
}

.loginTable input[type="radio"] {
	margin: 0;
}

.loginTable td:nth-child(3) {
	width:200px;
}

.loginTable tr, .loginTable td {
	padding: 0 5px 10px 0;
}