/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Image Slider Carousel */
.carousel {
    width:100%;
}

.carousel-inner {
    height:10%;
.carousel-indicators{
    height:1px;
}

span.h2getstarted {
    color:#1a9b4c;
}
span.h2secure {
    color:#203b99;
}
span.h2scalable {
    color:#a11d9c;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }

    .body-content {
        padding: 0;
    }
}

/* Navigation colour changes */
.navbar-custom {
  background-color: #161614;
}

.navbar-custom .navbar-nav > li > a {
    color: #e5e5e5;
}

.navbar-custom a.navbar-brand {
    color: white;
}

.aboutHeadline{
  height: 250px;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-bottom: 30px;
  color: white;
  background-color: #4C7DB4;
  text-align: center;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.aboutHR{
    margin-top:15px;
    margin-bottom:15px;
    margin-left:auto;
    margin-right:auto;
    width:50px;
}

.aboutHeadline h1{
    font-size: 50px;
}

.aboutRow{
    background-color:#eee;
    padding-left: 5px;
    border-radius:5px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.aboutRow h1{
    font-size: 30px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.aboutInfo{
    font-size: 21px;
}

.aboutList {
    font-size: 21px;
}

.aboutList li{
    list-style-image: url('../images/rsz_checksvg.png');
}

.aboutDesc{
    font-size: 15px;
}