<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://masterboxsite.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>masterboxsite.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>MasterBoxSite</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$MasterBoxSite</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="MasterBoxConnectionString" Order="1" Enabled="False">
          <Destination Path="Data Source=mbox-mssql.c2apojdl5mfi.ap-southeast-1.rds.amazonaws.com;Initial Catalog=MasterBox;Persist Security Info=True;User ID=masterboxadmin" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=mbox-mssql.c2apojdl5mfi.ap-southeast-1.rds.amazonaws.com;Initial Catalog=MasterBox;Persist Security Info=True;User ID=masterboxadmin" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\MasterBoxConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=mbox-mssql.c2apojdl5mfi.ap-southeast-1.rds.amazonaws.com;Initial Catalog=MasterBox;Persist Security Info=True;User ID=masterboxadmin" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="MBoxCString" Order="2" Enabled="True">
          <Destination Path="Data Source=mbox-mssql.c2apojdl5mfi.ap-southeast-1.rds.amazonaws.com;Initial Catalog=MasterBox;Persist Security Info=True;User ID=masterboxadmin;Password=N0tadatabase!" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=mbox-mssql.c2apojdl5mfi.ap-southeast-1.rds.amazonaws.com;Initial Catalog=MasterBox;Persist Security Info=True;User ID=masterboxadmin;Password=N0tadatabase!" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\MBoxCString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=mbox-mssql.c2apojdl5mfi.ap-southeast-1.rds.amazonaws.com;Initial Catalog=MasterBox;Persist Security Info=True;User ID=masterboxadmin;Password=N0tadatabase!" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)MasterBoxConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=mbox-mssql.c2apojdl5mfi.ap-southeast-1.rds.amazonaws.com;Initial Catalog=MasterBox;Persist Security Info=True;User ID=masterboxadmin</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)MBoxCString-Web.config Connection String">
      <ParameterValue>Data Source=mbox-mssql.c2apojdl5mfi.ap-southeast-1.rds.amazonaws.com;Initial Catalog=MasterBox;Persist Security Info=True;User ID=masterboxadmin;Password=N0tadatabase!</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>