/* Remove link outline*/
a, a:active {
   outline: 0;
}

/*Main Content*/
.MainContent {
    float: left;
    width: 100%;
    display: block;
    height: 95vh;
    margin-top: 50px;
}

/*Main File Transfer Interface*/

.FileToolBar {
    width: 100%;
    float: left;
    padding-top: 2%;
    padding: 1%;
    color: white;
    background-color: #4C7DB4;
}

    .FileToolBar img {
        float: right;
        margin-right: 2%;
        cursor: pointer;
        width: 20px;
        height: 20px;
    }

.FileContainer {   
    background:linear-gradient(90deg,#111213,#080c10);
    background-image:url(../images/bg/outlets.png);
    color:white;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
    width: 28%;
    height: 93.5%;
    overflow: auto;
}


    .FileContainer ul {
        margin: 0.75em 0;
        padding: 0 1em;
        list-style: none;
    }

        .FileContainer ul li:before {
            content: "";
            border-color: transparent #111;
            border-style: solid;
            border-width: 0.35em 0 0.35em 0.45em;
            display: block;
            height: 0;
            width: 0;
            left: -1em;
            top: 1.1em;
            position: relative;
        }

.FileTreeContainer {
    background-color:#f7ffff;
    background-image:url(../images/bg/blizzard.png);
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
    width: 72%;
    height: 93%;
    overflow: auto;
}

.FileTreeContainerTable {
    width: 49%;
    float: left;
    padding-top: 10px;
    padding-left: 2.2%;
}

/*Table Styling*/
.datagrid
{
    width: 100%;
}
.datagrid th,td
{
    padding:5px;
}
.datagridHeader
{
	background-color:#263e5a;
	font-family: Arial;
	color: White;
	border: none 0px transparent;
	height: 25px;
	font-size:large;
}
.datagridRows
{
	background-color: #fff;
	font-family: Arial;
	font-size: 15px;
	color: #000;
	height: 25px;
	text-align: left;
	border: none 0px transparent;
}
.datagridRows:hover
{
	background:linear-gradient(90deg,#b7cbe1,#93b1d2);
}

