/* Styling for login page*/

.loginTable{
	background-color:#ffffff;
	margin-bottom: 25px;
	width: 650px;
}

.loginTable input[type="text"],
.loginTable input[type="password"] {
	width:240px;
}

.loginTable input[type="radio"] {
	margin: 0;
}

.loginTable td:nth-child(3) {
	width:200px;
}

.loginTable tr, .loginTable td {
	padding: 0 5px 10px 0;
}

.regBtn {
	display:none;
}

/* Styling for sign up page*/

.regTable {
	background-color:#ffffff;
}

.regTable input[type="text"],
.regTable input[type="password"] {
	width:270px;
}

.regTable td:nth-child(1) {
	width:180px;
}

.regTable td:nth-child(3) {
	width:200px;
}

.regTable tr, .regTable td {
	padding: 0 5px 10px 0;
}

/* Styling for OTP page */

.otpTable td {
	padding:10px;
}

.setupRowLeft{
    float:left;
    width:70%;
    overflow:auto;
}

.setupRowRight{
    float:right;
    overflow:auto;
}

.otpSetupValue{
    width:100%;
    margin-bottom:10px;
}
.qrPlaceholder{
    height:300px;
    width:300px;
}
