/*Setting Pane*/
.SettingsPanel {
    width: 20%;
    position: fixed;
    height: 100%;
    float: left;
	padding:0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: black;
    background-image: url("../images/bg/lodyasbg.png");
    -webkit-box-shadow: 6px -3px 4px -4px rgba(0,0,0,0.35);
    -moz-box-shadow: 6px -3px 4px -4px rgba(0,0,0,0.35);
    box-shadow: 6px -3px 3px -4px rgba(0,0,0,0.35);
    z-index:10;
}

    .SettingsPanel h3 {
        margin: 0;
        text-align: center;
        padding: 5% 2% 4% 2%;
        color: white;
    }

    .SettingsPanel ul {
        list-style: none;
        padding: 0;
        margin: 0;
		width:100%;
    }
    

        .SettingsPanel ul li:first-child {
			 border-top: 1px solid #e5e5e5;
        }


        .SettingsPanel ul li {
            border-bottom: 1px solid #e5e5e5;
            border-left: 1px solid #e5e5e5;
            border-right: 1px solid #e5e5e5;
			font-size: 15px;
            margin: 0 auto;
            text-align: center;
            background-color: #fdfbfb;
        }

            .SettingsPanel ul li a {
                display:block;
                font-size: 1.3em;
                cursor: pointer;
                padding: 7%;
                text-decoration: none;
                color: black;
                font-weight: 300;
            }

				.SettingsPanel ul li a.currentpage {
					border-right:20px solid #cde5ff;
					background-color: #2d6aa5;
					color: white;
				}

                .currentpage:hover {
                    color:white;
                }

             .SettingsPanel ul li a:hover {
                background-color: #2d6aa5;
                color:white;
            }

			 
             .SettingsPanel ul li a:active {
                background-color: #2d6aa5;
                color:white;
            }

.SettingSelectionPanel {
    height: 100%;
	position: absolute;
	overflow: auto;
    padding: 0 2% 0 2%;
    width:80%;
    left:20%;
    float: left;
    background-image: url("../images/bg/blizzard.png");
}


.prof_icon {
    border: 1px solid red;
    width: 256px;
    height: 256px;
    padding: 2%;
    text-align: center;
}

.table_pref {
    border: none;
}

.SettingsRow {
    background-color: #ECECEC;
    width: auto;
    padding: inherit;
    border-radius: 5px;
    margin-top: 2%;
    margin-bottom: 2%;
}

/*Overiding CSS - May cause problems*/
.row {
    padding: 1%;

}

@media (max-width: 720px) {
	.SettingsPanel {
		display:none;
	}

	.SettingSelectionPanel {
		width:100%;
		left:0;
	}
}
