/*Setting Pane*/
.SettingsPanel {
    width: 20%;
    position: absolute;
    height: 100%;
    float: left;
    background: linear-gradient(90deg, #114271, #4C7DB4);
    background-color: #5a5a5a;
    -webkit-box-shadow: 9px -3px 4px -4px rgba(0,0,0,0.35);
    -moz-box-shadow: 9px -3px 4px -4px rgba(0,0,0,0.35);
    box-shadow: 9px -3px 4px -4px rgba(0,0,0,0.35);
    z-index:10;
}

    .SettingsPanel h3 {
        margin: 0;
        text-align: center;
        padding: 5% 2% 4% 2%;
        color: white;
        background: linear-gradient(90deg, #114271, #4C7DB4);
        background-color: #5a5a5a;
    }

    .SettingsPanel ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

        .SettingsPanel ul li:first-child,
        .SettingsPanel ul li:first-child a:hover {
            border-radius:20px 20px 0 0;    
        }

        .SettingsPanel ul li:last-child,
        .SettingsPanel ul li:last-child a:hover {
            border-radius:0 0 20px 20px;
            border-bottom: none;
        }

        .SettingsPanel ul li {
            border-bottom: 2px solid #8b8b8b;
            border-left: 2px solid #8b8b8b;
            border-right: 2px solid #8b8b8b;
            margin: 0 auto;
            text-align: center;
            background-color: #fdfbfb;
        }

            .SettingsPanel ul li a {
                display:block;
                font-size: 1.3em;
                cursor: pointer;
                padding: 7%;
                text-decoration: none;
                color: black;
                font-weight: 500;
            }

             .SettingsPanel ul li a:hover {
                background: linear-gradient(90deg, #114271, #4C7DB4);
                background-color: #5a5a5a;
                color:white;
            }

.SettingSelectionPanel {
    height: 100%;
    position:absolute;
    padding: 1% 2% 1% 2%;
    width:80%;
    left:20%;
    float: left;
    background-color: #fdfbfb;
}

.Setting_Profile {
    height: 100%;
    width: 100%;
    float:left;
    padding: 0 2% 1% 2%;
    overflow: scroll;
}

.prof_icon {
    border: 1px solid red;
    width: 90%;
    padding: 2%;
    text-align: center;
    height: 180px;
}

.table_pref {
    border: none;
}

.SettingHr {
    font-size: 170%;
}

.SettingsRow {
    background-color: #ECECEC;
    width: auto;
    padding: inherit;
    border-radius: 5px;
    margin-top: 2%;
    margin-bottom: 2%;
}