

/* Image Slider Carousel */

.carousel {
    width:100%;
}
.carousel-indicators {
    height: 0.3px;
}
.carousel-inner{
    height:100%;
}
.carousel-indicators li {
    opacity:0.5;
    border: 1px solid #282828;
    border-radius: 3.5px;
}
.carousel-indicators .active {
    opacity:1;
    border: 1px solid #282828;
    border-radius: 3px;
    background-color: #0098db;
}
    
/*Fixed the image slider*/
img{
    height:292px;
    /*width:79%;*/
    width: 100%;
}

/*punchline title*/
.punchlinetitle {
    margin-top:5%;
    text-align:center;
    margin-bottom:4%;

}

span.h2getstarted {
    color:#5e5e5e;
}
span.h2secure {
    color:#306d9f;
    -webkit-animation-name: secureAnimation; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 4s; /* Chrome, Safari, Opera */
    animation-name: secureAnimation;
    /*animation-delay: 0s;*/
    animation-duration: 4s;
}
/* Chrome, Safari, Opera */
@-webkit-keyframes secureAnimation {
    0%    {color: #306d9f;}
    10%   {color: #2066a0;}
    20%   {color: #2d7aba;}
    30%   {color: #4788bf;}
    40%   {color: #5e99cb;}
    50%   {color: #7dacd3;}
    60%   {color: #9fbdd5;}
    70%   {color: #9faeba;}
    80%   {color: #708aa0;}
    90%   {color: #547c9e;}
    100%  {color: #4b7fab;}
}
/* Standard syntax */
@keyframes secureAnimation {
    0%    {color: #306d9f;}
    10%   {color: #2066a0;}
    20%   {color: #2d7aba;}
    30%   {color: #4788bf;}
    40%   {color: #5e99cb;}
    50%   {color: #7dacd3;}
    60%   {color: #9fbdd5;}
    70%   {color: #9faeba;}
    80%   {color: #708aa0;}
    90%   {color: #547c9e;}
    100%  {color: #4b7fab;}
}
span.h2scalable {
    color:#5e5e5e;
}
a.registerlink {
    color: #000;
}
a.registerlink:hover {
    color: #337ab7;
    text-decoration: none;
}
a.registerlink:active {
    color: #03355d;
    text-decoration: none;
}
a.registerlink:visited {
    color: #03355d;
    text-decoration: none;
}
/*Buttons*/
.btn-default {
  color: #000;
  background-color: #fbfbfb;
  border-color: #1d1d1d;
}
.btn-default-blue {
  color: #306d9f;
  background-color: #fbfbfb;
  border-color: #306d9f;
}
.btn-default:hover {
    color: #454545;
    background-color: #fdfdfd;
    border-color: #8b8b8b;
    box-shadow: 0 0 0 1px;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;  
    transition: .3s;  

    -webkit-animation-name: btnDefaultAnimation; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 4s; /* Chrome, Safari, Opera */
    animation-name: btnDefaultAnimation;
    animation-duration: 5s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
}
/* Chrome, Safari, Opera */
@-webkit-keyframes btnDefaultAnimation {
    0%    {background-color: #fbfbfb;}
    20%    {background-color: #efefef;}
    40%    {background-color: #fbfbfb;}
    60%    {background-color: #efefef;}
    80%    {background-color: #fbfbfb;}
    100%    {background-color: #efefef;}
}
/* Standard syntax */
@keyframes btnDefaultAnimation {
    0%    {background-color: #fbfbfb;}
    20%    {background-color: #efefef;}
    40%    {background-color: #fbfbfb;}
    60%    {background-color: #efefef;}
    80%    {background-color: #fbfbfb;}
    100%    {background-color: #efefef;}
}
.btn-default-blue:hover {
  color: #0098db;
  background-color: #fdfdfd;
  border-color: #0098db;
  box-shadow: 0 0 0 1px;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .3s;  
  transition: .3s;  

  -webkit-animation-name: btnDefaultBlueAnimation; /* Chrome, Safari, Opera */
  -webkit-animation-duration: 4s; /* Chrome, Safari, Opera */
  animation-name: btnDefaultBlueAnimation;
  animation-duration: 5s;
  animation-delay: 0s;
  animation-iteration-count: infinite;
}
/* Chrome, Safari, Opera */
@-webkit-keyframes btnDefaultBlueAnimation {
    0%    {background-color: #f9fcff;}
    20%    {background-color: #f2f9ff;}
    40%    {background-color: #f9fcff;}
    60%    {background-color: #f2f9ff;}
    80%    {background-color: #f9fcff;}
    100%    {background-color: #f2f9ff;}
}
/* Standard syntax */
@keyframes btnDefaultBlueAnimation {
    0%    {background-color: #f9fcff;}
    20%    {background-color: #f2f9ff;}
    40%    {background-color: #f9fcff;}
    60%    {background-color: #f2f9ff;}
    80%    {background-color: #f9fcff;}
    100%    {background-color: #f2f9ff;}
}

.btn-default:active {
  color: #000;
  background-color: #444444;
  border-color: #1d1d1d;
}
.btn-default-blue:active {
  color: #306d9f;
  background-color: #75c8e1;
  border-color: #306d9e;
}
.btn-default:visited {
    color: #000;
    border-color: #1d1d1d;
}
.btn-default-blue:visited {
    color: #306d9f;
    border-color: #306d9e;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }
	/*
    .body-content {
        padding: 0;
    }
	*/
}

/* Navigation colour changes */
.navbar-custom {
  background-color: #161614;
    -webkit-box-shadow: 0px 2px 7px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 7px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 7px 0px rgba(0,0,0,0.75);
}

.navbar-custom .navbar-nav > li > a {
    color: #e5e5e5;
}

.navbar-custom a.navbar-brand {
    color: white;
}

/* About page */
.aboutHeadline{
  height: 260px;
  margin-top: -10px;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-bottom: 30px;
  color: white;
  background-color: #4C7DB4;
  text-align: center;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.aboutHR{
    margin-top:20px;
    margin-bottom:15px;
    margin-left:auto;
    margin-right:auto;
    width:50px;
}

.aboutHeadline h1{
    font-size: 6vmin;
}

.aboutRow{
    padding-left: 5px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 20px;
    margin-top: 20px;
}

.aboutRow h1{
    font-size: 30px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.aboutInfo{
    font-size: 21px;
}

.aboutList {
    font-size: 21px;
}

.aboutList li{
    list-style-image: url('../images/rsz_checksvg.png');
}

.aboutDesc{
    font-size: 15px;
}

.aboutRowHR{
    margin:auto;
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(0,0,0,0), rgba(76, 125, 180, 75), rgba(0,0,0,0));
    clear: both;
}

.aboutLeft {
    float: left;
}

.aboutRight{
    float: right;
}

footer{
    clear:both;
}

#left1.aboutLeft{
    width: 650px;
}

.secureBox{
    width: 360px;
    height: 360px;
    float: right;
}

.shield{
    width: 360px;
    height: 360px;
    float: right;
}

/*Scrollbar*/
::-webkit-scrollbar /* 1 */ {
    width: 4px;
    height: 4px;
    background-color: #000;
}

::-webkit-scrollbar-button /* 2 */ {
    width: 4px;
    height: 4px;
}

::-webkit-scrollbar-track /* 3 */ {
    background: #000000;
    border: 0px none #ffffff;
    border-radius: 6px;
}
::-webkit-scrollbar-track:hover {
    background: #070707;
}
::-webkit-scrollbar-track:active {
    background: #111111;
}
::-webkit-scrollbar-corner {
    background: transparent;
}

::-webkit-scrollbar-track-piece /* 4 */ {
     background: #000000;
    border: 0px none #ffffff;
    border-radius: 6px;
}
::-webkit-scrollbar-track-piece:hover {
    background: #070707;
}
::-webkit-scrollbar-track-piece:active {
    background: #111111;
}

::-webkit-scrollbar-thumb /* 5 */       {
    background: #fbfeff;
    border: 0px none #ffffff;
    border-radius: 12px;
}
::-webkit-scrollbar-thumb:hover {
    background: #ffffff;
}
::-webkit-scrollbar-thumb:active {
    background: #000000;
}

::-webkit-scrollbar-corner /* 6 */ {
     background: #000000;
}

::-webkit-resizer /* 7 */ {
}


.tableData td{
    font-family:sans-serif;
    font-size:25px;
    text-align:center;
}

.tableHeaders th{
    text-align:center;
    padding: 10px;
    font-size: 50px;
    font-family: sans-serif;
    background-color: #4C7DB4;
    color: white;
}

table, th, td {
    border: 2px solid white;
}

.fiveMbButton{
    align-self:center;
}
